<div class="title">
  <h2>Contact</h2>
</div>
<p>Contact information :
  <ul>
    <li>Aldrick & Claire
    <li>Phone: 925 08 98 14
    <li>E-mail: tricky57+vente@gmail.com
  </ul>
</p>
<p>&nbsp;Copyright &copy; 2011 Aldrick &amp; Claire</p>

