<header>
  <div id="header">
    <div id="logo">
      <h1><a href="contact">Aldrick &amp; Claire</a></h1>
      <p>Everything must go!!</p>
    </div>
    <div id="rss">&nbsp;</div>
  </div>

  <div id="menu">
    <ul>
      <li><%= link_to "Contact", root_path %></li>
      <% categories.each do |cat| %>
      <li><%= link_to cat, category_path(cat) %></li>
      <% end %>
    </ul>
  </div>
</header>

